    .button {
      background-color: #002B5B;
      color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
    }
  
    .button-red {
      background-color: #ea5455;
      color: white;
    }
  
    .button-green {
      background-color: rgb(172, 219, 172);
      color: white;
    }

    .button-orange {
      background-color: rgb(255, 209, 123);
      color: white;
    }