.register-wrapper {
    display: block;
    position: absolute;
}

button.submit {
    float: right;
}

button#login {
    float: left;
}

form {
    display: block;
    margin: 0 auto;
    border: 3px solid #ea5455;
    background: #F9F5EB;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 5px 35px 35px 35px;
}