.login-wrapper {
    display: block;
    position: absolute;
    padding: 20px;
}

button {
    float: right;
}

form {
    display: block;
    margin: 0 auto;
    border: 3px solid #ea5455;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 35px;
}