
.Card-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 330px;
    z-index: 10;
}

.button-red{
    background-Color:"#6e55f7"
}

.button-green{
    background-Color:"#ff8726"
}


@media (min-width: 900px) {

.Card-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 90%;
}

.button-red{
    background-Color:"#6e55f7"
}

.button-green{
    background-Color:"#ff8726"
}

}
