body {
  margin: 0
}

.popular_categories {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}


@media (min-width: 1280px) {
  .designCards_body {
    padding: 50px 122px;
  }

  .unique-design-container {
    margin-left: 171px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

}